body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
    overflow-x: auto;
    overflow-y: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;             /* reduz a altura do bloco total */
    width: max-content;
    margin: 7.5vh auto;       /* cria respiro acima e abaixo */
    position: relative;
}

.base-image {
    max-height: 85vh;
    width: auto;
    display: block;
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
}


.hotspot {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 4px dashed blue;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.viewer {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.viewer img {
    max-width: 90%;
    max-height: 90%;
}

.viewer.show {
    display: flex;
}
@media (max-width: 768px) {
  .hotspot,
  img[src="hotspot.png"] {
    width: 45px !important;
    height: 45px !important;
  }
}
