body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
    overflow-x: auto;
    overflow-y: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: max-content;
    margin: 0 auto;
    position: relative;
}

.base-image {
    height: 60vh;
    width: auto;
    display: block;
}

.hotspot {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.viewer {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.viewer img {
    max-width: 90%;
    max-height: 90%;
}

.viewer.show {
    display: flex;
}
